# Exclude node modules
node_modules

# Exclude the compiled project
dist/*

# Include the built-in asset folder
!dist/builtin/

# Include the assets
!dist/assets/

# Include dist/index.html
!dist/index.html

# Exclude the firebase debug log
firebase-debug.log