# Exclude node modules
node_modules

# Exclude the compiled project
dist/*

# Include the built-in asset folder
!dist/builtin/

# Include the assets
!dist/assets/

### IF YOU ARE MAKING A PROJECT, YOU MAY WANT TO UNCOMMENT THIS LINE ###
# !dist/assets/

# Exclude the firebase debug log
firebase-debug.log